<div class="container-fluid">
	<div class="row">
		<div class="header col-md-12 col-sm-12">
			<img src="assets/images/logo.png" class="icon"/>
			<span class="headertext">INFORMATION STATION</span>
		</div>
	</div>
	<div class="app row">
		
			{{outlet}}
		
	</div>
</div>


